.breadcrumb {
    margin-top: 96px;
    font-size: 14px;
    height: 40px;

}

.breadcrumb__title {
    line-height: 40px;
    // height: 40px;
    color: #808089;
}

.trade, .all-product, .all-product-detail {
    background-color: white;
    border-radius: 8px;
    // position: sticky;
    // top: calc($breadcrumb-height + $header-height);
    // bottom: 16px;
    // left: 16px;
    padding: 16px;
    // width: 100%;
}

.trade-action__name {
    display: flex;
    align-items: center;
}

.trade-action {
    padding-top: 16px;
    border-top: 1px solid #ededf1;
}

.trade-action__name-img {
    width: 40px;
    height: 40px;
}

.name-desc {
    font-size: 14px;
}

.desc {
    color: #808089;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.price {
    margin-top: 16px;
}

.price__title {
    font-weight: bold;
}

.price__total {
    font-size: 24px;
    color: #ff424e;
}

.action {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

.action__pay{
    padding: 8px;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 8px;
    background-color: #ff424e;
    color: white;
    border: none;
}

.all-product {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #787878;
}

.all-product ~ .all-product {
    margin-top: 8px;
}

.all-product__title {
    margin-left: 8px;
}

.all-product__first, .all-product__second {
    display: flex;
    align-items: center;
    flex: 1;
}

.all-product__second {
    justify-content: space-around;
}

.all-product-detail {
    margin-top: 8px;
}

.product {
    width: 100%;
    display: flex;
}

.product-infor, .product-pay {
    display: flex;
    flex: 1;
    align-items: center;
}

.product-infor__img {
    width: 80px;
}

.product-pay {
    justify-content: space-around;

}

.product__price {
    font-weight: bold;
}

.product__quantity {
    display: flex;

}

.product__quantity-descrease, .product__quantity-increase, .product__quantity-number {
    border: 1px solid rgb(200, 200, 200);
    text-align: center;

}

.product__quantity-descrease, .product__quantity-increase {
    padding: 0 8px;
    width: 24px;
    color: rgb(170, 165, 165);
}

.product__quantity-descrease {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.product__quantity-number {
    outline: none;
    width: 32px;
    border-right: none;
    border-left: none;
}

.product__quantity-increase {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.product__money {
    color: #ff424e;
}