.breadcrumb {
  height: 40px;
  margin-top: 96px;
}

.breadcrumb__title {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #808089;
  font-weight: 300;
}

.image-description, .product, .address, .trade, .infor-supplemnet {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
}

.image-product-cover {
  display: block;
}

.image-product {
  border: 1px solid #ededf1;
  border-radius: 8px;
  width: 100%;
}

.description {
  margin-top: 16px;
}

.description-title, .address-title {
  font-size: 16px;
  color: rgb(39, 39, 42);
  font-weight: 600;
}

.description-list {
  margin-top: 4px;
}

.description-item {
  font-size: 14px;
  color: #27272A;
}

.description-item__icon {
  color: #0c68ff;
  margin-right: 8px;
}

.description-item + .description-item {
  margin-top: 8px;
}

.product-genuine-brand {
  display: flex;
  height: 18px;
  align-items: center;
}

.product__brand {
  font-size: 10px;
  color: rgb(36, 36, 36);
  margin-left: 8px;
}

.product__brand-link {
  color: #6173b8;
}

.product__genuine {
  color: #0057e0;
  background-color: #f2f7ff;
  width: 100px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 33px;
  padding: 0 4px;
}

.product__name {
  line-height: 150%;
  font-size: 20px;
  color: rgb(39, 39, 42);
  font-weight: 500;
}

.product__price {
  font-size: 24px;
  font-weight: 500;
  position: relative;
}

.product__price-has-discount::after {
  content: "-47%";
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  background-color: #f5f5fa;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 4px;
  border-radius: 20px;
  color: rgb(39, 39, 42);
  font-weight: 500;
  margin-left: 4px;
}

.item-product-infor__evaluate {
  height: 24px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 14px;
}

.item-product-infor-evaluate__star {
  color: #fcc629;
  scale: 0.8;
}

.item-product-infor-evaluate__saled {
  color: #aeaeb4;
  font-size: 14px;
  padding-left: 4px;
  border-left: 1px solid #f2f2f5;
  margin-left: 4px;
}

.address, .infor-supplemnet {
  margin-top: 8px;
}

.address-detail {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.address-detail, .delivery-date, .delivery-hour {
  margin-top: 4px;
}

.delivery-date {
  display: flex;
  align-items: center;
}

.delivery-date__icon {
  width: 32px;
}

.delivery-date__detail {
  margin-left: 8px;
  text-transform: capitalize;
  font-size: 14px;
}

.delivery-hour {
  font-size: 14px;
}

.trade-brand {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.trade-brand__img {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}

.trade-brand__name {
  margin-left: 8px;
}

.trade-brand-name__offical {
  font-size: 15px;
  display: flex;
}

.trade-brand-name__offical-img {
  width: 72px;
  height: 20px;
  margin-left: 4px;
}

.trade-action__name {
  display: flex;
  align-items: center;
}

.trade-action {
  padding-top: 16px;
  border-top: 1px solid #ededf1;
}

.trade-action__name-img {
  width: 40px;
  height: 40px;
}

.quantity {
  margin-top: 16px;
}

.quantity__title {
  font-size: 14px;
  font-weight: bold;
}

.quantity__button {
  display: flex;
  margin-top: 12px;
}

.quantity__button-descrease, .quantity__button-number,
.quantity__button-increase {
  border: 1px solid rgb(166, 166, 176);
  height: 32px;
  border-radius: 4px;
  text-align: center;
  margin-left: 8px;
}

.quantity__button button:nth-child(1) {
  margin: 0;
}

.quantity__button-descrease,
.quantity__button-increase {
  padding: 0px 6px;
  width: 32px;
}

.quantity__button-number {
  width: 40px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  outline: none;
}

.button--disable {
  border-color: rgba(196, 196, 207, 0.3);
  color: #d8d8d8;
}

.price {
  margin-top: 16px;
}

.price__title {
  font-weight: bold;
}

.price__total {
  font-size: 24px;
}

.action {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.action__pay, .action__cart, .action__buy {
  padding: 8px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #2a7aff;
  color: #2a7aff;
  font-size: 16px;
  margin-top: 8px;
}

.action__pay {
  background-color: #ff424e;
  color: white;
  border: none;
}

.action button:nth-child(1) {
  margin: 0;
}

.infor-supplemnet__title {
  font-size: 16px;
  font-weight: bold;
}

.infor-supplemnet__item {
  color: #27272A;
  padding: 8px 0;
  font-size: 14px;
  border-bottom: 1px solid rgb(235, 235, 240);
  display: flex;
}

.infor-supplemnet__item-name, .infor-supplemnet__item-value {
  width: 50%;
}

.infor-supplemnet__item-name {
  color: rgb(166, 166, 176);
}

.infor-supplemnet__item:last-child {
  border: none;
}

@media (max-width: 1023px) {
  .c-m-margin-bottom-16px {
    margin-bottom: 16px;
  }
}
@media (max-width: 739px) {
  .c-order-1 {
    order: -1;
  }
}
body {
  position: relative;
}

.up__link {
  position: fixed;
  right: 16px;
  bottom: 16px;
  height: 40px;
  width: 40px;
  background-color: white;
  border: 1px solid #0057e0;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}/*# sourceMappingURL=container.css.map */